[submodule "k8s_storage/heketi"]
	path = k8s_storage/heketi
	url = https://github.com/heketi/heketi.git
[submodule "k8s_systems/metallb"]
	path = k8s_systems/metallb
	url = https://github.com/danderson/metallb.git
[submodule "k8s_systems/nvidia-device-plugin"]
	path = k8s_systems/nvidia-device-plugin
	url = https://github.com/NVIDIA/k8s-device-plugin.git
[submodule "k8s_monitoring/kube-prometheu"]
	path = k8s_monitoring/kube-prometheu
	url = https://github.com/coreos/kube-prometheus.git
[submodule "k8s_monitoring/kube-prometheus"]
	path = k8s_monitoring/kube-prometheus
	url = https://github.com/coreos/kube-prometheus.git
